<%- include("partials/header"); -%>
<header>
  <!-- Navbar -->
  <nav id="my-navbar" class="navbar fixed-top navbar-expand-lg navbar-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link text-nowrap" href="#about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-nowrap" href="/team">Team</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-nowrap" href="#get-involved">Get involved</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-nowrap" href="#contact">Contact</a>
        </li>
      </ul>
    </div>
  </nav>
</header>

<section id="introduction">
  <div class="container-fluid">
    <!-- Introduction section -->
    <div class="introduction">
      <h1>Data In Practice</h1>
      <p><em>The power of big data & AI in <span>transforming the society</span></em></p>
      <a href="#about"><button class="btn btn-outline-light" type="button">View more here</button></a>
    </div>

  </div>
</section>

<!-- About section -->
<section id="about">
  <div class="container-fluid">
    <div class="heading">
      <h1>Who we are</h1>
      <hr>
    </div>

    <div class="who-we-are">
      <p>Data In Practice is a not-for-profit organization harnessing the power of big data analytics and Artificial Intelligence (AI)
        to solve development issues facing Africa. We use our expertise to help our partner organizations to collect, analyze, and
        interpret data to drive problem solving.
      </p>
    </div>

  </div>

</section>

<!-- Work section -->
<section id="work">
  <div class="container">
    <div class="heading">
      <h1>What we do</h1>
      <hr>
    </div>

    <div class="work-descriptions">
      <div class="row">
        <div class="col-md-4 each-description">
          <i class="fas fa-compass fa-6x"></i>
          <h5>Policymaking</h5>
          <p>We help organizations in both public and private sectors to make better, quicker, and more efficient decisions based on evidence
            and insight.
          </p>
        </div>
        <div class="col-md-4 each-description">
          <i class="fas fa-hands-helping fa-6x"></i>
          <h5>Consultancy</h5>
          <p>We bring in our data science capability to collaborate with organizations on cutting-edge analytics to maximize social
            and business impact.
          </p>
        </div>
        <div class="col-md-4 each-description">
          <i class="fas fa-users-cog fa-6x"></i>
          <h5>Skills development</h5>
          <p>We aspire to build a massive pool of data scientists through short-term trainings, workshops, fellowships and scholarships.</p>
        </div>
      </div>

      <div class="row">

        <div class="col-md-6 each-description">
          <i class="fas fa-people-carry fa-6x"></i>
          <h5>Research</h5>
          <p>We collaborate with universities and industries to develop technologies that will improve our world. Our focus is on agriculture,
              healthcare, climate change, social networks, education, business and urban planning. We also jointly look for funding to realize
              the research projects.
          </p>
        </div>
        <div class="col-md-6 each-description">
          <i class="fas fa-cloud-upload-alt fa-6x"></i>
          <h5>Awareness</h5>
          <p>We promote cloud-based big data analytics to accelerate adoption by individuals, businesses, governments, learning
              and research institutions.
          </p>
        </div>

      </div>
    </div>


  </div>
</section>

<!-- Get involved section -->
<section id="get-involved">
  <div class="container-fluid">
    <div class="heading">
      <h1>Get involved</h1>
      <hr>
    </div>

    <div class="row">
      <div class="col-xl-6 col-lg-6">
        <img src="images/careers-img.jpg" alt="careers-img">
      </div>
      <div class="careers col-xl-6 col-lg-6">
        <h2>Careers</h2>
        <p>Think you have what it takes to join our team?</p>
        <p>We are looking for high-performing data scientists, software engineers, computer scientists,
          statisticians, bioinformaticians, community workers and educators to join us to fulfil our mission.
        </p>
        <a href="/careers-form"><button class="btn btn-outline-light" type="button" name="button">Apply for a career</button></a>
      </div>
    </div>

    <div class="row">
      <div class="col-xl-6 col-lg-6">
        <img src="images/donate-img.jpg" alt="donate-img">
      </div>
      <div class="col-xl-6 col-lg-6">
        <h2>Support us</h2>
        <div class="support-us">
          <h5>Volunteering opportunities</h5>
          <p>Data engineers, computer scientists, research scientists, fundraisers, cloud engineers, software engineers are welcomed.</p>
          <a href="/volunteer-opportunities"><button class="btn btn-outline-light" type="button" name="button">Sign up</button></a>
        </div>
        <div class="support-us">
          <h5>Donate</h5>
          <p>We appreciate any financial support given to us as we strive to do our best in fulfilling our mission.</p>
          <button class="btn btn-outline-light " type="button" name="button">Donate now</button>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Contact section -->
<section id="contact">
  <div class="container-fluid">
    <div class="heading">
      <h1>Contact</h1>
      <hr>
    </div>

    <div>
      <p>Have a question for us? Leave a message below!</p>
      <form class="query-form" action="https://formspree.io/mdowjpno" method="POST">
        <div>
          <input class="form" type="text" name="Name" placeholder="Name">
        </div>
        <div>
          <input class="form" type="email" name="Email" placeholder="Email">
        </div>
        <div>
          <textarea class="form" rows="8" cols="80" name="Nessage" placeholder="Your message"></textarea>
        </div>
        <button class="btn btn-outline-light" type="submit">Submit</button>
      </form>
    </div>

  </div>
</section>

<%- include("partials/footer"); -%>
