<%- include("partials/header") -%>
<section id="volunteer-role-description">
  <div class="container-fluid">
    <div class="role-title">
      <h2>Cloud/Data Architect</h2>
    </div>
    <div class="role-description">
      <h5>Position Description:</h5>
      <p>Data in Practice is seeking a Cloud/Data Architect to join our team of qualified, diverse individuals to become a
        part of our Big Data analytics team.</p>
    </div>
    <div class="role-duties-and-responsibilities">
      <h5>Your duties and responsibilities:</h5>
      <p>In this role, you will play a major part in shaping and implementing a modern data system. The role also includes
         implementing the solution and making sure the proposed enhancements become a reality. With your help, we can make
         a giant step forward on a project that touches so many people.</p>
      <ul>
        <li>Propose and provide the architecture for our data solution (Mixture of multiple tiers of databases and storage)</li>
        <li>Reduce the cost by balancing the reporting demands of the data and the storage</li>
        <li>Propose an architecture to support our storage and reporting requirements</li>
        <li>Work with other architectural teams for alignment but also with a focus on our deliverables</li>
      </ul>
    </div>
    <div class="role-qualifications">
      <h5>Required qualifications to be successful in this role:</h5>
      <ul>
        <li>Bachelor's degree in Statistics, Mathematics or Computer Science or related discipline and 2 years of relevant
          experience; or a Master's and 1 years of relevant experience; or a PhD</li>
        <li>Work experience with common architectural patterns for data storage and usage</li>
        <li>Work experience with a variety of reporting architectures and supporting data usage patterns</li>
        <li>Work experience with distributed compute environments, software development, big data analytics, cloud computing
           including virtualization, hosted services, multi-tenant cloud infrastructures, storage systems or content
            delivery networks</li>
        <li>Understanding of data science methodologies and benefits</li>
        <li>Experience with Data Quality and Data Quality Systems</li>
        <li>Experience with Java, Python, Go, JavaScript, C++, or similar language</li>
      </ul>
    </div>
    <div class="apply-button">
      <a href="/volunteer-form"><button class="btn btn-outline-light" type="button" name="button">Apply now</button></a>
    </div>
  </div>

</section>


<%- include("partials/footer") -%>
