<%- include("partials/header") -%>
  <section id="volunteer-role-description">
    <div class="container-fluid">
      <div class="role-title">
        <h2>Data Scientist</h2>    
      </div>
      <div class="role-description">
        <h5>Position Description:</h5>
        <p>Data in Practice is a not-for-profit organization utilizing big data and AI to solve development challenges in Africa.
          We are seeking Volunteer Data Scientists to assist with new work to tackle the most pressing issues facing Africa:
          - agriculture, health, climate change, urban planning, trade etc. Our candidates truly need a hybrid skill set to successfully
          contribute in data science projects. In addition to data analysis, we need people that also have strong IT technical skills,
           NLP, Machine Learning and Predictive Modeling skills as well as experience with Python/R and/statistics.</p>
      </div>
      <div class="role-duties-and-responsibilities">
        <h5>Your duties and responsibilities:</h5>
        <ul>
          <li>Experience translating high-level project requirements into technical tasks</li>
          <li>Data manipulation and data engineering experience involving structured and unstructured data</li>
          <li>Data manipulation expertise involving data extractions, data matching between multiple systems, transformations, cleansing, and loading</li>
          <li>Experience with big data and cloud platforms and toolset</li>
          <li>Ability to engineer and create complex research datasets by manipulating typically large volume transactional data for use
             by operations research analysts, economists, biologists and statisticians in advanced analytical research and studies</li>
          <li>Experience in developing predictive, prescriptive, optimization, and forecasting models, including the use of contemporary
            techniques such as support vector machines, neural networks, and gradient boosting</li>
          <li>Experience in interpreting results from statistical and mathematical models</li>
          <li>Experience in advance data visualizations and interpretation</li>
          <li>Experience in translating research into policy and for making science based -informed decisions for solving social problems</li>
        </ul>
      </div>
      <div class="role-qualifications">
        <h5>Required qualifications to be successful in this role:</h5>
        <ul>
          <li>Bachelor's degree in Computer science, Statistics, Mathematics, engineering or applied sciences or related discipline and
             2 years of relevant experience; or a Master's and 1 years of relevant experience; or a PhD</li>
          <li>Required: Machine Learning, Predictive Modeling and Python experience</li>
          <li>Strong Natural Language Processing (NLP)</li>
          <li>Preferred: Experience in SAS (preferred) and/or R for complex data manipulation, statistical analysis, and machine learning</li>
          <li>Experience with Forecasting, Time Series Analysis, statistical modeling, etc</li>
          <li>Experience with modern machine learning libraries, including Keras, TensorFlow, PyTorch, MXNet, or MADlib</li>
          <li>Required: SQL (preferable in distributed environment, e.g. Greenplum, SQL Server, Oracle)</li>
          <li>Preferred but not Required: Experience with data visualization tools (e.g., Tableau, Bokeh, D3) or elastic stack (Kibana)</li>
          <li>Preferred: Experience using peer-collaboration tools, e.g., Confluence</li>
          <li>Experience using GIT or other version control systems</li>
        </ul>
      </div>
      <div class="apply-button">
        <a href="/volunteer-form"><button class="btn btn-outline-light" type="button" name="button">Apply now</button></a>
      </div>
    </div>

  </section>


<%- include("partials/footer") -%>
