body {
  text-align: center;
  position: relative;
  font-family: "Roboto Slab", serif;
}

h1 {
  font-weight: bold;
}
                                  /*** h1 is 32px ***/
h2 {                                /*** h2 is 24px ***/
  padding-bottom: 3%;               /*** h5 is 13.28px ***/
  font-weight: bold;
}

h5 {
  font-weight: bold;
}

h6 {
  font-weight: bold;
}

hr {
  width: 8%;
  border: solid thin;
}

p {
  line-height: 1.8;
}

@media (min-width: 320px) and (max-width: 480px) {
  h1 {
    font-size: 28px;
  }
  h2 {
    font-size: 20px;
  }
  h5 {
    font-size: 16px;
  }
  p {
    font-size: 14px;
  }
  hr {
    width: 18%;
  }
}

@media (min-width: 481px) and (max-width: 1024px) {
  h1 {
    font-size: 30px;
  }
  h2 {
    font-size: 22px;
  }
  h5 {
    font-size: 18px;
  }
  p {
    font-size: 16px;
  }
  hr {
    width: 12%;
  }
}

@media (min-width: 481px) and (max-width: 768px) and (orientation: landscape) {
  h1 {
    font-size: 28px;
  }
  h2 {
    font-size: 20px;
  }
  h5 {
    font-size: 16px;
  }
  p {
    font-size: 14px;
  }
  hr {
    width: 12%;
  }
}

/*** Containers ***/
.container-fluid {
  padding: 8% 10%;
}

.container {
  padding: 3% 2%;
  margin-top: -8%;
  z-index: 1;
  background-color: white;
  border: solid 3px #fb3569;
  border-radius: 10px;
  text-align: center;
}

@media (min-width: 320px) and (max-width: 480px) {
  .container-fluid {
    padding: 14% 10%;
  }
}

@media (min-width: 481px) and (max-width: 1024px) {
  .container-fluid {
    padding: 12% 10%;
  }
}

/*** Navbar ***/
#my-navbar {
  background-color: #32312F;
  border-bottom: solid thin #fb3569;
}

.active {
  color: #77a6f7 !important;
}

.navbar-nav {
  margin-right: 12%;
}

.navbar-nav .nav-item {
  padding: 0 2%;
}

.navbar-nav .nav-item .nav-link {
  color: white;
  font-size: 18px;
}

.navbar-nav .nav-item a:hover {
  color: #77a6f7 !important;
}

@media (min-width: 320px) and (max-width: 480px) {
  .navbar-nav .nav-item .nav-link {
    font-size: 14px;
  }
}

@media (min-width: 481px) and (max-width: 1024px) {
  .navbar-nav .nav-item .nav-link {
    font-size: 16px;
  }
}

@media (min-width: 481px) and (max-width: 768px) and (orientation: landscape) {
  .navbar-nav .nav-item .nav-link {
    font-size: 15px;
  }
}

/*** Headers ***/
.heading {
  padding-bottom: 3%;
}

/*** Buttons ***/
.btn-outline-light {
  border: solid 2px #fb3569;
  font-weight: bold;
}

.btn-outline-light:hover {
  background-color: #77a6f7;
  border: solid 3px #fb3569;
}

/*** Introduction section ***/
#introduction {
  background-image: url("../images/background-img.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.introduction {
  color: white;
  text-align: left;
  padding: 15% 0 0 5%;
}

.introduction h1 {
  font-size: 65px;
}

.introduction p {
  font-size: 30px;
}

.introduction span {
  border-bottom: solid thick #fb3569;
}

@media (min-width: 320px) and (max-width: 480px) {
  .introduction {
    padding-top: 50%;
    text-align: center;
  }
  .introduction h1 {
    font-size: 40px;
  }
  .introduction p {
    font-size: 20px;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .introduction {
    padding-top: 30%;
    text-align: center;
  }
  .introduction h1 {
    font-size: 50px;
  }
  .introduction p {
    font-size: 24px;
  }
}

@media (min-width: 481px) and (max-width: 768px) and (orientation: landscape) {
  .introduction {
    padding-top: 10%;
    text-align: center;
  }
  .introduction h1 {
    font-size: 42px;
  }
  .introduction p {
    font-size: 21px;
  }
}


@media (min-width: 769px) and (max-width: 1024px) {
  .introduction {
    padding-top: 20%;
  }
  .introduction h1 {
    font-size: 56px;
  }
  .introduction p {
    font-size: 26px;
  }
}

/*** About section ***/
#about .container-fluid {
  background-color: #f8f8f8;
}

#about img {
  width: 80%;
  height: auto;
  margin-bottom: 8%;
}

#about .why-data {
  text-align: left;
  padding: 5% 0;
}

#about .role h2 {
  padding-bottom: 8%;
}

#about .each-role {
  margin-bottom: 3%;
}

#about i {
  color: #77a6f7;
  padding-bottom: 5%;
}

@media (min-width: 320px) and (max-width: 768px) {
  #about .why-data {
    text-align: center;
  }
}

/*** Projects section ***/
#projects img {
  width: 90%;
  height: auto;
  padding-bottom: 5%;
}

.each-project {
  margin-bottom: 8%;
}

.each-project a {
  text-decoration: none;
  color: black;
}

.each-project a:hover {
  color: #77a6f7;
}

/*** Team section ***/
#team {
  background-color: #f8f8f8;
}

#team img {
  width: 50%;
  height: auto;
  margin: auto;
  padding: 3% 0;
}

#team .card {
  margin: auto;
  margin-bottom: 5%;
  border-radius: 10px;
  height: auto;
  width: 80%;
}

/*** Modal ***/
#team .modal .modal-header, #team .modal .modal-footer {
  background-color: #f8f8f8 ;
}

#team .modal .modal-body {
  text-align: left;
}

#team .modal .modal-body h6 {
  text-decoration: underline;
}

#team .modal-body .member-about, #team .modal-body .member-background {
  margin-bottom: 5%;
}

#team .modal .btn-outline-light {
  color: black;
}

/*** Get involved section ***/
#get-involved .btn-outline-light {
  color: black;
}

#get-involved .row {
  text-align: left;
}

#get-involved img {
  margin-bottom: 8%;
  width: 80%;
  height: auto;
}

#get-involved .careers {
  margin-bottom: 8%;
}

#get-involved .support-us {
  margin-bottom: 8%;
}

@media (min-width: 320px) and (max-width: 480px) {
  #get-involved .row {
    text-align: center;
  }
  #get-involved .support-us {
    margin-bottom: 14%;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  #get-involved .row {
    text-align: center;
  }
  #get-involved .support-us {
    margin-bottom: 10%;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  #get-involved .support-us {
    margin-bottom: 10%;
  }
}

/*** Contact section ***/
#contact {
  background-color: #444c5c;
  color: white;
}

#contact .query-form .form {
  margin: 0.5% 0;
  width: 40%;
  outline: none;
}

@media (min-width: 320px) and (max-width: 480px) {
  #contact .query-form .form {
    width: 100%;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  #contact .query-form .form {
    width: 80%;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  #contact .query-form .form {
    width: 60%;
  }
}

/*** Footer section ***/
#footer {
  background-color: #32312F;
  color: white;
}

#footer .container-fluid {
  padding: 2% 15% 1%;
}

.email-phone-address {
  text-align: right;
}

.copyright {
  font-size: 12px;
}

#footer i {
  padding: 0 1%;
  color: #77a6f7;
}

@media (min-width: 320px) and (max-width: 480px) {
  #footer .container-fluid {
    padding: 10% 15% 1%;
  }
  .email-phone-address {
    text-align: center;
  }
  .copyright p {
    font-size: 10px;
    padding-top: 10%;
  }
  #footer i {
    padding: 0 3%;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  #footer .container-fluid {
    padding: 8% 15% 1%;
  }
  .email-phone-address {
    text-align: center;
  }
  .copyright p {
    font-size: 11px;
    padding-top: 8%;
  }
  #footer i {
    padding: 0 3%;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  #footer .container-fluid {
    padding: 5% 15% 1%;
  }
  .email-phone-address {
    text-align: right;
  }
  .copyright p {
    font-size: 11px;
    padding-top: 5%;
  }
  #footer i {
    padding: 0 1%;
  }
}

/*** Volunteer opportunities page ***/
#volunteer-opportunities {
  background-color: #f8f8f8;
  height: 100vh;
}

#volunteer-opportunities .container-fluid {
  padding: 5% 10%;
}

#volunteer-opportunities .role-headings {
  margin-bottom: 2%;
}

#volunteer-opportunities .role-details {
  background-color: white;
}

@media (min-width: 320px) and (max-width: 480px) {
  #volunteer-opportunities .container-fluid {
    padding: 12% 5%;
  }
  #volunteer-opportunities .role-headings {
    margin-bottom: 6%;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  #volunteer-opportunities .container-fluid {
    padding: 10% 10%;
  }
  #volunteer-opportunities .role-headings {
    margin-bottom: 4%;
  }
}

@media (min-width: 769px) and (max-width: 1024px), (min-width: 481px) and (max-width: 768px) and (orientation: landscape) {
  #volunteer-opportunities .container-fluid {
    padding: 10% 10%;
  }
  #volunteer-opportunities .role-headings {
    margin-bottom: 2%;
  }
}

/*** Volunteer role description pages ***/
#volunteer-role-description {
  background-color: #f8f8f8;
  text-align: left;
}

#volunteer-role-description .container-fluid {
  padding: 5% 10%;
}

#volunteer-role-description h2 {
  text-decoration: underline;
}

#volunteer-role-description li {
  margin-bottom: 1%;
}

#volunteer-role-description .role-description, #volunteer-role-description .role-duties-and-responsibilities, #volunteer-role-description .role-qualifications {
  margin-bottom: 3%;
}

#volunteer-role-description .apply-button {
  text-align: center;
}

#volunteer-role-description .apply-button .btn-outline-light {
  color: black;
}

@media (min-width: 320px) and (max-width: 480px) {
  #volunteer-role-description .container-fluid {
    padding: 12% 10%;
  }
  #volunteer-role-description li {
    margin-bottom: 3%;
    font-size: 14px;
  }
  #volunteer-role-description .role-description, #volunteer-role-description .role-duties-and-responsibilities, #volunteer-role-description .role-qualifications {
    margin-bottom: 10%;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  #volunteer-role-description .container-fluid {
    padding: 10% 10%;
  }
  #volunteer-role-description li {
    margin-bottom: 2%;
    font-size: 16px;
  }
  #volunteer-role-description .role-description, #volunteer-role-description .role-duties-and-responsibilities, #volunteer-role-description .role-qualifications {
    margin-bottom: 8%;
  }
}

@media (min-width: 481px) and (max-width: 768px) and (orientation: landscape) {
  #volunteer-role-description .container-fluid {
    padding: 10% 10%;
  }
  #volunteer-role-description li {
    margin-bottom: 1%;
    font-size: 14px;
  }
  #volunteer-role-description .role-description, #volunteer-role-description .role-duties-and-responsibilities, #volunteer-role-description .role-qualifications {
    margin-bottom: 6%;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  #volunteer-role-description .container-fluid {
    padding: 10% 10%;
  }
  #volunteer-role-description li {
    margin-bottom: 1%;
    font-size: 16px;
  }
  #volunteer-role-description .role-description, #volunteer-role-description .role-duties-and-responsibilities, #volunteer-role-description .role-qualifications {
    margin-bottom: 6%;
  }
}

/*** Careers and volunteer form ***/
#careers-form, #volunteer-form {
  background-color: #f8f8f8;
}

#careers-form .container-fluid, #volunteer-form .container-fluid {
  padding: 5% 10%;
}

#careers-form .form-control, #volunteer-form .form-control {
  width: 40%;
  margin: auto;
  font-size: 15px;
}

#careers-form .btn-outline-light, #volunteer-form .btn-outline-light {
  margin-top: 1%;
  color: black;
}

.attachment {
  margin: 1% 0;
}

.attachment label, .attachment input {
  font-size: 15px;
}

@media (min-width: 320px) and (max-width: 480px) {
  #careers-form .container-fluid, #volunteer-form .container-fluid {
    padding: 12% 10%;
  }
  #careers-form .form-control, #volunteer-form .form-control {
    width: 100%;
    font-size: 12px;
  }
  #careers-form .btn-outline-light, #volunteer-form .btn-outline-light {
    margin-top: 8%;
  }
  .attachment {
    margin: 5% 0;
  }
  .attachment label, .attachment input {
    font-size: 11.5px;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  #careers-form .container-fluid, #volunteer-form .container-fluid {
    padding: 10% 10%;
  }
  #careers-form .form-control, #volunteer-form .form-control {
    width: 80%;
    font-size: 14px;
  }
  #careers-form .btn-outline-light, #volunteer-form .btn-outline-light {
    margin-top: 4%;
  }
  .attachment {
    margin: 3% 0;
  }
  .attachment label, .attachment input {
    font-size: 13px
  }
}

@media (min-width: 481px) and (max-width: 768px) and (orientation: landscape){
  #careers-form .form-control, #volunteer-form .form-control {
    width: 80%;
    font-size: 12px;
  }
  #careers-form .btn-outline-light, #volunteer-form .btn-outline-light {
    margin-top: 1%;
  }
  .attachment label, .attachment input {
    font-size: 11.5px
  }
}


@media (min-width: 769px) and (max-width: 1024px) {
  #careers-form .container-fluid, #volunteer-form .container-fluid {
    padding: 10% 10%;
  }
  #careers-form .form-control, #volunteer-form .form-control {
    width: 60%;
    font-size: 14px;
  }
  .attachment {
    margin: 2% 0;
  }
  .attachment label, .attachment input {
    font-size: 13px
  }
}
